.header{
    margin-bottom: 16px;
}

#wrapper {
    width: 400px;
  }
  
  table {
    width: 100%;
  }
  
  th,
  td {
    width: 200px;
  }
  
  thead>tr {
    position: relative;
    display: block;
  }
  
  tbody {
    display: block;
    height: calc(100vh - 130px);
    overflow: auto;
  }

  .name {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }